.contact-input {
  border: 1px solid var(--darkGreen);
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

label {
  margin-top: 20px;
  font-family: "EstedadBold";
  color: var(--darkBlue);
}
.contact-form {
  border-radius: 10px;
  background-color: var(--white);
  font-family: "EstedadBold" !important;
}
input:focus,
textarea:focus {
  background-color: var(--gray);
  border-color: var(--darkBlue);
}
textarea {
  resize: none;
}
.form-button {
  width: 100px;
  margin-top: 25px;
}
.error-message {
  color: red;
  font-size: 12px;
  margin: 2px;
}
