.header {
  background-image: url(./../../assets/img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30px 4vw;
  min-height: 300px;
}
.header-parent {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  row-gap: 4px;
  left: 0;
  right: 0;
}
.header-item {
  padding: 0.3rem;
}
.header-logo {
  width: 150px;
}
.header-item a {
  color: black;
}
.header-item a:hover {
  color: var(--blue);
}
.header-call {
  background-color: var(--darkGreen);
  color: white;
  padding: 6px 30px;
  border-radius: 40px;
}
.header-call:hover {
  background-color: #20c997;
}
.menu-grid {
  font-size: x-large;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}
